.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.loadingCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContent {
    flex: 1;
    padding-top: 60px;
    /* Height of navbar */
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}